/* links*/

a {
text-decoration:none;
}

img {
max-width:100%;
}


/*a{
color:#6ab47b;
}*/

nav a{
color:white;
}

nav a:hover{
color:#93db70;
}

/* header */

header{
float:left;
margin: 0 0 30px 0;
padding: 5px 0 0 0;
width:100%;
}
#logo{
text-align-last:center;
 }

#wrapper{
margin: 0 auto;
}



/*color */ 

h1,h2{
color:white;
}
header{
background-color:#78ab46;
}


nav{
background-color:#324f17;
}

/* fonts */

h1{
  text-align:center;
font-family:'open sans',sans-serif;
  margin:15px 0;
  line-height:0.8em;
  font-weight:normal;
}

h2{
  text-align:center;
font-family:'fantasy', open sans;
  margin:15px 0;
  line-height:0.8eem;
  font-weight:normal;

}

/* navigation*/

nav{
text-align:center;
  padding:10px 0;
  margin: 20px 0 0 ;
}


nav ul{
list-style:none;
margin:0 10px;
padding:0;
}

nav li{
display:inline-block;
}

nav a {
font-size:bold;
font-weight:800;
padding:15px 5px;
}
nav a.selected{
color:#93db70;
}

/* footer*/

footer{

  font-size:0.75em;
  text-align:center;
  clear:both;
  padding-top:50px;
  color:#ccc;
}

.social-icon{
width:20px;
height:20px;
margin:0 5px;
}


/* page portfolio*/

#gallery{
margin:0;
padding:0;
list-style:none;  
}

#gallery li {
  float:left;
  width:45%;
  margin:2.5%;
  background-color:#f5f5f5;
  color:#bdc3c7;
}

#gallery li a p{
margin:0;
padding:5%;
font-size: 0.75em;
color:#bdc3c7;
}

/* about page*/

.profile-photo{
display:block;
max-width:150px;
margin:0 auto 30px;
border-radius:100%;
}

h3{
margin: 50px 0 1px 20px;
}
p{
margin:15px 20px;
}


/* page contact*/
.contact-info{
list-style:none;
padding:10px;
margin:0;
font-size:0.9em;
}

.contact-info a{
display:block;
min-height:20px;
background-repeat:no-repeat;
background-size:20px 20px;
padding:0 0 0 30px;
margin: 0 0 10px;
}
.contact-info li.phone a{
background-image:url('../img/phone.png');
}

.contact-info li.mail a{
background-image:url('../img/mail.png');
}

.contact-info li.facebook a{
background-image:url('../img/facebook.png');
}
